openapi: 3.0.3
info:
  title: "위티버스 API 문서 - 내부 테스트용"
  description: "위티버스 통합 API 문서"
  version: "1.0.0"

servers:
  - url: https://api.wittiverse.com/v2
    description: Production
  - url: https://qa-api.wittiverse.com/v2
    description: QA
  - url: https://dev-api.wittiverse.com/v2
    description: Dev

tags:
  - name: 인증 (로그인/토큰)
    description: 로그인 및 토큰 관련 API
  - name: 클래스 선택
    description: 클래스 목록 및 학습 시작 관련 API
  - name: 위티스쿨
    description: 위티스쿨 관련 API
  - name: 위티TV
    description: 위티TV 관련 API
  - name: 위티플레이
    description: 위티플레이 (미니게임) 관련 API
  - name: 위티박스(런처)
    description: 위티박스 런처, 커리큘럼, 리포트, 미션 관련 API
  - name: 위티App
    description: 위티App 캐릭터, 미션, 출석, 상점, 퀴즈 등 관련 API
  - name: 공통
    description: 공통 API
  - name: 학습 이력 등록
    description: 학습 이력 등록 (IAS) API

paths:
  # ============================================================
  # 인증 (로그인/토큰)
  # ============================================================
  /authenticate/login:
    post:
      tags:
        - 인증 (로그인/토큰)
      summary: 통합 로그인
      operationId: login
      security:
        - XDeviceInfo: []
      parameters:
        - name: loginTp
          in: query
          required: true
          description: "로그인 타입"
          schema:
            type: string
            enum: [L, P, T, B]
            example: L
        - name: ptnrId
          in: query
          required: true
          description: "파트너 ID"
          schema:
            type: string
            example: "1102"
        - name: autoLoginYn
          in: query
          required: false
          description: "자동 로그인 여부"
          schema:
            type: string
            enum: [Y, N]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - loginId
                - loginPwd
              properties:
                loginId:
                  type: string
                  description: "로그인 ID (평문 입력 시 자동 Base64 인코딩)"
                  example: "MGtest000"
                loginPwd:
                  type: string
                  description: "비밀번호 (평문 입력 시 자동 Base64 인코딩)"
                  example: "mini1122@@"
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      authToken:
                        type: string
                      refreshToken:
                        type: string
                      childList:
                        type: array
                        items:
                          type: object
                          properties:
                            childId:
                              type: string
                            childAge:
                              type: integer

  /authenticate/token/issue:
    get:
      tags:
        - 인증 (로그인/토큰)
      summary: 토큰 갱신
      operationId: tokenIssue
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: childId
          in: query
          required: false
          description: "자녀 ID"
          schema:
            type: string
      responses:
        "200":
          description: 토큰 갱신 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      authToken:
                        type: string

  # ============================================================
  # 클래스 선택
  # ============================================================
  /authenticate/classes/{id}:
    get:
      tags:
        - 클래스 선택
      summary: 클래스 목록
      operationId: getClasses
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: "로그인 ID"
          schema:
            type: string
            example: "MGtest000"
      responses:
        "200":
          description: 클래스 목록 조회 성공
          content:
            application/json:
              schema:
                type: object

  /authenticate/classes:
    get:
      tags:
        - 클래스 선택
      summary: 클래스 내 학생 목록
      operationId: getClassStudents
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: classId
          in: query
          required: true
          description: "클래스 ID"
          schema:
            type: string
            example: "C000000140"
      responses:
        "200":
          description: 학생 목록 조회 성공
          content:
            application/json:
              schema:
                type: object

  /authenticate/study/access:
    post:
      tags:
        - 클래스 선택
      summary: 학습 시작
      operationId: studyAccess
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: loginTp
          in: query
          required: true
          schema:
            type: string
            example: L
        - name: autoLoginYn
          in: query
          required: true
          schema:
            type: string
            example: Y
        - name: ptnrId
          in: query
          required: true
          schema:
            type: string
            example: "1000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                studentId:
                  type: string
                  example: "S000000815"
                loginId:
                  type: string
                  example: "MGtest000"
                accessType:
                  type: string
                  example: "L"
      responses:
        "200":
          description: 학습 시작 성공
          content:
            application/json:
              schema:
                type: object

  # ============================================================
  # 위티스쿨
  # ============================================================
  /witti-school/start-study:
    post:
      tags:
        - 위티스쿨
      summary: 학습 시작
      operationId: wittiSchoolStartStudy
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prodId:
                  type: string
                  example: "PI-00000000000000001"
                startDate:
                  type: string
                  example: "2025-04-15"
      responses:
        "200":
          description: 학습 시작 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/reset-study:
    post:
      tags:
        - 위티스쿨
      summary: 학습 초기화
      operationId: wittiSchoolResetStudy
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prodId:
                  type: string
                  example: "PI-00000000000000001"
      responses:
        "200":
          description: 학습 초기화 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/verify:
    get:
      tags:
        - 위티스쿨
      summary: 최초접속 확인
      operationId: wittiSchoolVerify
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 최초접속 확인 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/brand:
    get:
      tags:
        - 위티스쿨
      summary: 브랜드 확인
      operationId: wittiSchoolBrand
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 브랜드 확인 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/main:
    get:
      tags:
        - 위티스쿨
      summary: 메인 화면
      operationId: wittiSchoolMain
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 메인 화면 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/aram-bookworld/main:
    get:
      tags:
        - 위티스쿨
      summary: 아람북월드 메인
      operationId: aramBookworldMain
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: ptnrId
          in: query
          required: true
          schema:
            type: string
            example: "1102"
        - name: prodId
          in: query
          required: true
          schema:
            type: string
            example: "PI-00000000000000001"
        - name: itemCd
          in: query
          required: false
          description: "품목ID"
          schema:
            type: string
        - name: tmlnDt
          in: query
          required: false
          description: "날짜정보"
          schema:
            type: string
      responses:
        "200":
          description: 아람북월드 메인 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/aram-bookworld/subject:
    get:
      tags:
        - 위티스쿨
      summary: 아람북월드 과목
      operationId: aramBookworldSubject
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: ptnrId
          in: query
          required: true
          schema:
            type: string
            example: "1102"
        - name: prodId
          in: query
          required: true
          schema:
            type: string
            example: "PI-00000000000000001"
      responses:
        "200":
          description: 아람북월드 과목 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/aram-bookworld/subject/{subjCd}:
    get:
      tags:
        - 위티스쿨
      summary: 아람북월드 과목 상세
      operationId: aramBookworldSubjectDetail
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: subjCd
          in: path
          required: true
          description: "과목 코드"
          schema:
            type: string
            enum: [KOR, MTH, SCI]
          x-enum-descriptions:
            - "국어"
            - "수학"
            - "과학"
        - name: ptnrId
          in: query
          required: true
          schema:
            type: string
            example: "1102"
        - name: prodId
          in: query
          required: true
          schema:
            type: string
            example: "PI-00000000000000001"
        - name: itemCd
          in: query
          required: false
          description: "아이템 코드"
          schema:
            type: string
            enum: [AR0000010, AR0000011]
          x-enum-descriptions:
            - "STEP1"
            - "STEP2"
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
        - name: pageRow
          in: query
          required: false
          schema:
            type: integer
        - name: curtnSeq
          in: query
          required: false
          description: "호 선택 (1~13)"
          schema:
            type: integer
            minimum: 1
            maximum: 13
            example: 4
      responses:
        "200":
          description: 아람북월드 과목 상세 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/e-book/main:
    get:
      tags:
        - 위티스쿨
      summary: 도서관 메인 화면
      operationId: ebookMain
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 도서관 메인 화면 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-school/e-book/main/book/list/catgry:
    get:
      tags:
        - 위티스쿨
      summary: 도서관 책 리스트 조회
      operationId: ebookListByCatgry
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
            example: 1
        - name: pageRow
          in: query
          required: false
          schema:
            type: integer
            example: 999
        - name: catgryCd
          in: query
          required: true
          allowEmptyValue: true
          description: "카테고리 코드 (빈값: 전체)"
          schema:
            type: string
            enum:
              - ""
              - CA-250610P3000000000
              - CA-250610P3000000001
              - CA-250610P3000000002
              - CA-240708P3000000000
              - CA-240708P3000000001
              - CA-240708P3000000002
              - CA-240708P3000000003
          x-enum-descriptions:
            - ""
            - "역사/신화"
            - "성/안전"
            - "키즈교양"
            - "생활/인성"
            - "명작/예술"
            - "수학/과학"
            - "언어/사고"
      responses:
        "200":
          description: 도서관 책 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  # ============================================================
  # 위티TV
  # ============================================================
  /tv/verify:
    get:
      tags:
        - 위티TV
      summary: 최초접속 확인
      operationId: tvVerify
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 최초접속 확인 성공
          content:
            application/json:
              schema:
                type: object

  /tv/category:
    get:
      tags:
        - 위티TV
      summary: 카테고리 리스트
      operationId: tvCategory
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: catgryCd
          in: query
          required: true
          description: "카테고리 코드"
          schema:
            type: string
            enum: [L3000, L3001, L3002, L3004]
          x-enum-descriptions:
            - "위티TV 홈"
            - "위티프렌즈"
            - "아람북월드"
            - "똑똑하마"
      responses:
        "200":
          description: 카테고리 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /tv/main:
    get:
      tags:
        - 위티TV
      summary: 메인 화면
      operationId: tvMain
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 메인 화면 조회 성공
          content:
            application/json:
              schema:
                type: object

  /tv/main/{catgryCd}:
    get:
      tags:
        - 위티TV
      summary: 메인 (카테고리)
      operationId: tvMainCategory
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: catgryCd
          in: path
          required: true
          description: "카테고리 코드"
          schema:
            type: string
            enum: [L3001, L3002, L3004]
          x-enum-descriptions:
            - "위티프렌즈"
            - "아람북월드"
            - "똑똑하마"
        - name: subCatgryCd
          in: query
          required: false
          description: "하위 카테고리 코드"
          schema:
            type: string
            enum: [CA-230731P3000000000, CA-230731P3000000001, CA-240216P0000000001, CA-240216P0000000000, CA-240510P4195972829]
          x-enum-descriptions:
            - "위티프렌즈 / 동화"
            - "위티프렌즈 / 동요"
            - "아람북월드 / 동화"
            - "아람북월드 / 동요"
            - "똑똑하마 / TV영상"
      responses:
        "200":
          description: 메인 (카테고리) 조회 성공
          content:
            application/json:
              schema:
                type: object

  /tv/category/detail:
    get:
      tags:
        - 위티TV
      summary: 카테고리 별 상세
      operationId: tvCategoryDetail
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: catgryCd
          in: query
          required: true
          description: "카테고리 코드"
          schema:
            type: string
            enum: [CA-230731P3000000000, CA-230731P3000000001, CA-240216P0000000001, CA-240216P0000000000, CA-240510P4195972829]
          x-enum-descriptions:
            - "위티프렌즈 / 동화"
            - "위티프렌즈 / 동요"
            - "아람북월드 / 동화"
            - "아람북월드 / 동요"
            - "똑똑하마 / TV영상"
        - name: searchTp
          in: query
          required: false
          description: "검색 타입"
          schema:
            type: string
            enum: [unwatched, watched, new, popular]
          x-enum-descriptions:
            - "시청하지 않은 영상"
            - "시청한 영상"
            - "새로운 영상"
            - "자주보는영상"
      responses:
        "200":
          description: 카테고리 별 상세 조회 성공
          content:
            application/json:
              schema:
                type: object

  /tv/category/detail/newPop:
    get:
      tags:
        - 위티TV
      summary: 신작/인기 카테고리 별 상세
      operationId: tvCategoryDetailNewPop
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: topCatgryCd
          in: query
          required: true
          schema:
            type: string
            enum: [L3001, L3002, L3004]
          x-enum-descriptions:
            - "위티프렌즈 전체"
            - "아람북월드 전체"
            - "똑똑하마 전체"
        - name: upCatgryCd
          in: query
          required: true
          schema:
            type: string
            enum: [CA-230731P3000000000, CA-230731P3000000001, CA-240216P0000000001, CA-240216P0000000000, CA-240510P4195972829]
          x-enum-descriptions:
            - "위티프렌즈 / 동화 전체"
            - "위티프렌즈 / 동요 전체"
            - "아람북월드 / 동화 전체"
            - "아람북월드 / 동요 전체"
            - "똑똑하마 / TV영상 전체"
        - name: newPopTp
          in: query
          required: true
          schema:
            type: string
            enum: [new, pop]
          x-enum-descriptions:
            - "신작"
            - "인기"
        - name: searchTp
          in: query
          required: true
          schema:
            type: string
            enum: [unwatched, watched, new, popular]
          x-enum-descriptions:
            - "시청하지 않은 영상"
            - "시청한 영상"
            - "새로운 영상"
            - "자주보는영상"
      responses:
        "200":
          description: 신작/인기 카테고리 별 상세 조회 성공
          content:
            application/json:
              schema:
                type: object

  /tv/favorites:
    get:
      tags:
        - 위티TV
      summary: 즐겨찾기 리스트 조회
      operationId: tvFavoritesList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: topCatgryCd
          in: query
          required: true
          schema:
            type: string
            enum: [L3001, L3002, L3004]
          x-enum-descriptions:
            - "위티프렌즈 전체"
            - "아람북월드 전체"
            - "똑똑하마 전체"
        - name: upCatgryCd
          in: query
          required: true
          schema:
            type: string
            enum: [CA-230731P3000000000, CA-230731P3000000001, CA-240216P0000000001, CA-240216P0000000000, CA-240510P4195972829]
          x-enum-descriptions:
            - "위티프렌즈 / 동화 전체"
            - "위티프렌즈 / 동요 전체"
            - "아람북월드 / 동화 전체"
            - "아람북월드 / 동요 전체"
            - "똑똑하마 / TV영상 전체"
      responses:
        "200":
          description: 즐겨찾기 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - 위티TV
      summary: 즐겨찾기 등록/해제
      operationId: tvFavoritesToggle
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contsId:
                  type: string
                  example: "CB-240404P4720782772"
                favoritesYn:
                  type: string
                  enum: [Y, N]
                  example: "N"
      responses:
        "200":
          description: 즐겨찾기 등록/해제 성공
          content:
            application/json:
              schema:
                type: object

  /tv/recommend:
    get:
      tags:
        - 위티TV
      summary: 플레이어 다음 컨텐츠 추천
      operationId: tvRecommend
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: topCatgryCd
          in: query
          required: false
          schema:
            type: string
            enum: [L3001, L3002, L3004]
          x-enum-descriptions:
            - "위티프렌즈 전체"
            - "아람북월드 전체"
            - "똑똑하마 전체"
        - name: upCatgryCd
          in: query
          required: false
          schema:
            type: string
            enum: [CA-230731P3000000000, CA-230731P3000000001, CA-240216P0000000001, CA-240216P0000000000, CA-240510P4195972829]
          x-enum-descriptions:
            - "위티프렌즈 / 동화 전체"
            - "위티프렌즈 / 동요 전체"
            - "아람북월드 / 동화 전체"
            - "아람북월드 / 동요 전체"
            - "똑똑하마 / TV영상 전체"
        - name: catgryCd
          in: query
          required: true
          schema:
            type: string
            enum: [CA-230731P3000010002, CA-230731P3000000022, CA-230731P3000000011, CA-230731P3000000066, CA-230731P3000000055, CA-230731P3000000044, CA-230731P3000000033, CA-240625P3410351621, CA-240625P1597666939, CA-240216P1000000006, CA-240216P1000000004, CA-240216P1000000003, CA-240216P1000000002, CA-240625P2398250913, CA-240625P5374442451, CA-240625P5593068393, CA-240625P2342779666, CA-240216P1000000007, CA-240216P1000000005, CA-240216P1000000001, CA-240510P2036141492]
          x-enum-descriptions:
            - "위티프렌즈 / 동화 / 자연관찰"
            - "위티프렌즈 / 동요 / 건강 쑥쑥 체조"
            - "위티프렌즈 / 동요 / 생활습관&안전"
            - "위티프렌즈 / 동요 / 생생 직업 탐험"
            - "위티프렌즈 / 동요 / 세계 간식 탐험"
            - "위티프렌즈 / 동요 / 뚝딱뚝딱 요리"
            - "위티프렌즈 / 동요 / 국악 전래놀이"
            - "아람북월드 / 동화 / 호기심 해결사"
            - "아람북월드 / 동화 / 꼭꼭 생활습관"
            - "아람북월드 / 동화 / 프리미엄 동화"
            - "아람북월드 / 동화 / 알쏭달쏭 탐구"
            - "아람북월드 / 동화 / 세계 속 이야기"
            - "아람북월드 / 동화 / 리더십&인성(동화)"
            - "아람북월드 / 동요 / 알쏭달쏭 탐구"
            - "아람북월드 / 동요 / 리더십&인성(동요)"
            - "아람북월드 / 동요 / 세계 속 이야기"
            - "아람북월드 / 동요 / 프리미엄 동화"
            - "아람북월드 / 동요 / 호기심 해결사"
            - "아람북월드 / 동요 / 재미 팡팡 동요"
            - "아람북월드 / 동요 / 꼭꼭 생활습관"
            - "똑똑하마 / TV영상 / 과학놀이"
      responses:
        "200":
          description: 다음 컨텐츠 추천 조회 성공
          content:
            application/json:
              schema:
                type: object

  /tv/e-board:
    get:
      tags:
        - 위티TV
      summary: 전광판 조회
      operationId: tvEBoard
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 전광판 조회 성공
          content:
            application/json:
              schema:
                type: object

  # ============================================================
  # 위티플레이
  # ============================================================
  /witti-play/game/main:
    get:
      tags:
        - 위티플레이
      summary: 미니 게임 보유 위티팡 조회
      operationId: wittiPlayGameMain
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: contsId
          in: query
          required: true
          description: "콘텐츠 ID"
          schema:
            type: string
            enum: [CB-240129000000G0001, CB-240129000000G0002, CB-240129000000G0003, CB-240129000000G0004, CB-240129000000G0005]
          x-enum-descriptions:
            - "달려라 위티"
            - "점프&점프"
            - "캔디+캔디"
            - "리듬 팡!팡!"
            - "캔디 굴리기"
      responses:
        "200":
          description: 보유 위티팡 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-play/game/score:
    get:
      tags:
        - 위티플레이
      summary: 미니 게임 점수 조회
      operationId: wittiPlayGameScoreGet
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: contsId
          in: query
          required: true
          schema:
            type: string
            enum: [CB-240129000000G0001, CB-240129000000G0002, CB-240129000000G0003, CB-240129000000G0004, CB-240129000000G0005]
          x-enum-descriptions:
            - "달려라 위티"
            - "점프&점프"
            - "캔디+캔디"
            - "리듬 팡!팡!"
            - "캔디 굴리기"
      responses:
        "200":
          description: 미니 게임 점수 조회 성공
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - 위티플레이
      summary: 미니 게임 점수 저장
      operationId: wittiPlayGameScoreSave
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contsId:
                  type: string
                  example: "CB-240129000000G0001"
                gameScore:
                  type: string
                  example: "77777"
                gameHistSeq:
                  type: string
                  example: "1"
      responses:
        "200":
          description: 미니 게임 점수 저장 성공
          content:
            application/json:
              schema:
                type: object

  /witti-play/game/ranked:
    get:
      tags:
        - 위티플레이
      summary: 미니 게임 랭킹 리스트 조회
      operationId: wittiPlayGameRanked
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: contsId
          in: query
          required: true
          schema:
            type: string
            enum: [CB-240129000000G0001, CB-240129000000G0002, CB-240129000000G0003, CB-240129000000G0004, CB-240129000000G0005]
          x-enum-descriptions:
            - "달려라 위티"
            - "점프&점프"
            - "캔디+캔디"
            - "리듬 팡!팡!"
            - "캔디 굴리기"
      responses:
        "200":
          description: 미니 게임 랭킹 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-play/game/init:
    post:
      tags:
        - 위티플레이
      summary: 미니 게임 초기화
      operationId: wittiPlayGameInit
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 미니 게임 초기화 성공
          content:
            application/json:
              schema:
                type: object

  # ============================================================
  # 위티박스(런처)
  # ============================================================
  /config/apps/list:
    get:
      tags:
        - 위티박스(런처)
      summary: 런처 앱 리스트
      operationId: configAppsList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: ptnrId
          in: query
          required: true
          schema:
            type: string
            example: "1102"
        - name: managedYn
          in: query
          required: true
          allowEmptyValue: true
          description: "관리 여부 (빈값: 녹스)"
          schema:
            type: string
            enum: ["", N, B]
          x-enum-descriptions:
            - ""
            - "늘봄"
            - "녹스 X"
      responses:
        "200":
          description: 런처 앱 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-box/curriculum:
    get:
      tags:
        - 위티박스(런처)
      summary: 커리큘럼 조회
      operationId: wittiBoxCurriculum
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: childId
          in: query
          required: true
          description: "memId 값 입력"
          schema:
            type: string
      responses:
        "200":
          description: 커리큘럼 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/attendance/curriculum:
    post:
      tags:
        - 위티박스(런처)
      summary: 출석 시간 전송
      operationId: attendanceCurriculum
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isMidNight:
                  type: string
                  example: "false"
      responses:
        "200":
          description: 출석 시간 전송 성공
          content:
            application/json:
              schema:
                type: object

  /report/parentReport:
    post:
      tags:
        - 위티박스(런처)
      summary: 학습 리포트 > 부모(학생) / 주간
      operationId: parentReport
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                curriculumTp:
                  type: integer
                  example: 0
                childAge:
                  type: integer
                  example: 5
                childId:
                  type: string
                year:
                  type: integer
                  example: 2026
                month:
                  type: integer
                  example: 3
                week:
                  type: integer
                  example: 2
                reportType:
                  type: string
                  example: "WEEK"
                parentTp:
                  type: string
                  example: "P"
      responses:
        "200":
          description: 부모(학생) 주간 리포트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /report/teacherReport:
    post:
      tags:
        - 위티박스(런처)
      summary: "학습 리포트 > 선생님 (주간/월간)"
      description: |
        선생님 학습 리포트를 조회합니다.
        - 주간 리포트: reportType을 "WEEK"으로 설정하고, week 파라미터를 포함합니다. parentTp에 "T"를 설정합니다.
        - 월간 리포트: reportType을 "MONTH"로 설정하고, week 파라미터를 생략합니다. parentTp를 생략할 수 있습니다.
      operationId: teacherReport
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                curriculumTp:
                  type: integer
                  example: 0
                childAge:
                  type: integer
                  example: 5
                childId:
                  type: string
                year:
                  type: integer
                  example: 2026
                month:
                  type: integer
                  example: 2
                week:
                  type: integer
                  description: "주간 리포트 시 사용 (월간 리포트에서는 생략)"
                  example: 52
                reportType:
                  type: string
                  enum: [WEEK, MONTH]
                  example: "WEEK"
                parentTp:
                  type: string
                  description: "주간 리포트 시 'T' 설정 (월간 리포트에서는 생략 가능)"
                  example: "T"
      responses:
        "200":
          description: 선생님 리포트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /report/teacherActivityReport:
    post:
      tags:
        - 위티박스(런처)
      summary: 학습 리포트 > 선생님 / 이 주 활동현황
      operationId: teacherActivityReport
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                curriculumTp:
                  type: integer
                  example: 0
                childAge:
                  type: integer
                  example: 5
                childId:
                  type: string
                year:
                  type: integer
                  example: 2026
                month:
                  type: integer
                  example: 3
                week:
                  type: integer
                  example: 2
                reportType:
                  type: string
                  example: "WEEK"
      responses:
        "200":
          description: 이 주 활동현황 조회 성공
          content:
            application/json:
              schema:
                type: object

  /mission/today/list:
    post:
      tags:
        - 위티박스(런처)
      summary: 오늘의 미션 이력/과목 조회
      operationId: missionTodayList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                childId:
                  type: string
                ptnrSubTp:
                  type: string
                  example: "CC_DC"
      responses:
        "200":
          description: 오늘의 미션 조회 성공
          content:
            application/json:
              schema:
                type: object

  /authenticate/study/status:
    patch:
      tags:
        - 위티박스(런처)
      summary: 학생 수업 상태 변경
      operationId: studyStatusUpdate
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                studentId:
                  type: string
                  example: "S000000273"
                classId:
                  type: string
                  example: "C000000055"
                studyStatus:
                  type: string
                  example: "READY"
                loginId:
                  type: string
      responses:
        "200":
          description: 학생 수업 상태 변경 성공
          content:
            application/json:
              schema:
                type: object

  # ============================================================
  # 위티App
  # ============================================================
  /witti-app/init/character:
    post:
      tags:
        - 위티App
      summary: 캐릭터 초기화
      operationId: wittiAppInitCharacter
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 캐릭터 초기화 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/character:
    post:
      tags:
        - 위티App
      summary: 캐릭터 생성/저장
      operationId: wittiAppCharacterSave
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                childId:
                  type: string
                  example: "ME-IC26013032870003"
                saveTp:
                  type: string
                  example: "C"
                nickName:
                  type: string
                  example: "고질라"
                wearingItemList:
                  type: array
                  items:
                    type: object
                invenItemList:
                  type: array
                  items:
                    type: object
      responses:
        "200":
          description: 캐릭터 생성/저장 성공
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
        - 위티App
      summary: 캐릭터 조회
      operationId: wittiAppCharacterGet
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 캐릭터 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/init/mission:
    post:
      tags:
        - 위티App
      summary: 미션 초기화
      operationId: wittiAppInitMission
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 미션 초기화 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/init/attendance:
    post:
      tags:
        - 위티App
      summary: 출석 초기화
      operationId: wittiAppInitAttendance
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 출석 초기화 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/promiseReward:
    post:
      tags:
        - 위티App
      summary: 디지털 학습기기 사용안내 보상
      operationId: wittiAppPromiseReward
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 보상 처리 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/promiseRewardInit:
    post:
      tags:
        - 위티App
      summary: 디지털 학습기기 사용안내 보상 초기화
      operationId: wittiAppPromiseRewardInit
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 보상 초기화 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/instl-app-ver:
    get:
      tags:
        - 위티App
      summary: 설치 앱 버전 조회
      operationId: wittiAppInstlAppVer
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 설치 앱 버전 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/child/list:
    get:
      tags:
        - 위티App
      summary: 자녀 리스트 조회
      operationId: wittiAppChildList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 자녀 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/mission:
    get:
      tags:
        - 위티App
      summary: 튜토리얼 수행 여부 조회
      operationId: wittiAppMission
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: misnGrp
          in: query
          required: true
          description: "미션 그룹"
          schema:
            type: string
            example: "TUTORIAL"
      responses:
        "200":
          description: 튜토리얼 수행 여부 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/character/nickname-chk:
    get:
      tags:
        - 위티App
      summary: 캐릭터 닉네임 유효성 조회
      operationId: wittiAppNicknameChk
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: nickName
          in: query
          required: true
          description: "닉네임"
          schema:
            type: string
            example: "폭풍테란"
      responses:
        "200":
          description: 닉네임 유효성 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/character/nickname-random:
    get:
      tags:
        - 위티App
      summary: 캐릭터 닉네임 랜덤 조회
      operationId: wittiAppNicknameRandom
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 랜덤 닉네임 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/main:
    get:
      tags:
        - 위티App
      summary: 보유 위티팡 조회 (메인 화면)
      operationId: wittiAppMain
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 보유 위티팡 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/reward/list:
    get:
      tags:
        - 위티App
      summary: 위티팡 리스트 조회
      operationId: wittiAppRewardList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: rwrdClsTp
          in: query
          required: true
          description: "보상 분류 타입"
          schema:
            type: string
            enum: [P, M]
          x-enum-descriptions:
            - "획득 내역 조회"
            - "사용 내역 조회"
      responses:
        "200":
          description: 위티팡 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/reward/cheat:
    post:
      tags:
        - 위티App
      summary: 위티팡 강제 지급
      operationId: wittiAppRewardCheat
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 위티팡 강제 지급 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/live-sketch/animal:
    get:
      tags:
        - 위티App
      summary: 라이브스케치 동물 리스트 조회
      operationId: wittiAppLiveSketchAnimalList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 동물 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - 위티App
      summary: 라이브스케치 동물 추가
      operationId: wittiAppLiveSketchAnimalAdd
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                animalMappSeq:
                  type: string
                  example: "402"
      responses:
        "200":
          description: 동물 추가 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/init/live-sketch:
    post:
      tags:
        - 위티App
      summary: 라이브스케치 보유동물 초기화
      operationId: wittiAppInitLiveSketch
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 보유동물 초기화 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/live-sketch/animal/delete:
    post:
      tags:
        - 위티App
      summary: 라이브스케치 동물 삭제
      operationId: wittiAppLiveSketchAnimalDelete
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                animalMappSeq:
                  type: string
                  example: "402"
      responses:
        "200":
          description: 동물 삭제 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/live-sketch/event:
    post:
      tags:
        - 위티App
      summary: 라이브스케치 이벤트 완료
      operationId: wittiAppLiveSketchEvent
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                animalMappSeq:
                  type: string
                  example: "517"
                eventId:
                  type: string
                  example: "MI-240129000000P0022"
      responses:
        "200":
          description: 이벤트 완료 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/shop-item/list:
    get:
      tags:
        - 위티App
      summary: 상점 아이템 리스트 조회
      operationId: wittiAppShopItemList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 상점 아이템 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/shop-car/list:
    get:
      tags:
        - 위티App
      summary: 상점 미니카 리스트 조회
      operationId: wittiAppShopCarList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 상점 미니카 리스트 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/badge:
    get:
      tags:
        - 위티App
      summary: 퀴즈 뱃지 조회
      operationId: wittiAppBadgeGet
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 퀴즈 뱃지 조회 성공
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - 위티App
      summary: 퀴즈 뱃지 장착/해제
      operationId: wittiAppBadgeToggle
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cornerTp:
                  type: string
                  example: "fire"
                useYn:
                  type: string
                  enum: [Y, N]
                  example: "Y"
      responses:
        "200":
          description: 퀴즈 뱃지 장착/해제 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/quiz:
    get:
      tags:
        - 위티App
      summary: OX 퀴즈 조회
      operationId: wittiAppQuiz
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: cornerTp
          in: query
          required: true
          description: "코너 타입"
          schema:
            type: string
            enum: [fire, police]
          x-enum-descriptions:
            - "도전! 소방관"
            - "도전! 경찰관"
        - name: quizCatgry
          in: query
          required: true
          description: "퀴즈 카테고리"
          schema:
            type: string
            enum: [firefight, save, comm, rescue, helicopter, etc, safety, traffic, investigate, patrol, security, international]
          x-enum-descriptions:
            - "소방관 - 소방"
            - "소방관 - 구조"
            - "소방관 - 통신"
            - "소방관 - 구급"
            - "소방관 - 헬기"
            - "소방관 - 기타"
            - "경찰관 - 안전"
            - "경찰관 - 교통"
            - "경찰관 - 조사"
            - "경찰관 - 순찰"
            - "경찰관 - 보안"
            - "경찰관 - 해외"
      responses:
        "200":
          description: OX 퀴즈 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/quiz/gift:
    get:
      tags:
        - 위티App
      summary: OX 퀴즈 선물 조회
      operationId: wittiAppQuizGiftGet
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: cornerTp
          in: query
          required: true
          description: "코너 타입"
          schema:
            type: string
            enum: [fire, police]
          x-enum-descriptions:
            - "도전! 소방관"
            - "도전! 경찰관"
      responses:
        "200":
          description: OX 퀴즈 선물 조회 성공
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - 위티App
      summary: OX 퀴즈 선물 등록
      operationId: wittiAppQuizGiftRegister
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      description: "퀴즈 선물 등록. badgeIdx - police: 1001~1003, fire: 2001~2003"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                badgeIdx:
                  type: integer
                  description: "뱃지 인덱스 (police: 1001~1003, fire: 2001~2003)"
                  example: 2001
      responses:
        "200":
          description: OX 퀴즈 선물 등록 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/zodiac/list:
    get:
      tags:
        - 위티App
      summary: 황도12궁 별자리 조회
      operationId: wittiAppZodiacList
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 별자리 조회 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/zodiac/owned:
    post:
      tags:
        - 위티App
      summary: 황도12궁 별자리 획득
      operationId: wittiAppZodiacOwned
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: zodiacId
          in: query
          required: true
          description: "별자리 ID"
          x-enum-descriptions:
            - "양자리"
            - "황소자리"
            - "쌍둥이자리"
            - "게자리"
            - "사자자리"
            - "처녀자리"
            - "천칭자리"
            - "전갈자리"
            - "궁수자리"
            - "염소자리"
            - "물병자리"
            - "물고기자리"
          schema:
            type: string
            enum:
              - "Zodiac_001_Aries"
              - "Zodiac_002_Taurus"
              - "Zodiac_003_Gemini"
              - "Zodiac_004_Cancer"
              - "Zodiac_005_Leo"
              - "Zodiac_006_Virgo"
              - "Zodiac_007_Libra"
              - "Zodiac_008_Scorpio"
              - "Zodiac_009_Sagittarius"
              - "Zodiac_010_Capricorn"
              - "Zodiac_011_Aquarius"
              - "Zodiac_012_Pisces"
            example: "Zodiac_002_Taurus"
      responses:
        "200":
          description: 별자리 획득 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/trip/area:
    get:
      tags:
        - 위티App
      summary: 열기구 여행 기록 조회
      operationId: wittiAppTripAreaGet
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      responses:
        "200":
          description: 여행 기록 조회 성공
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - 위티App
      summary: 열기구 여행 기록 등록
      operationId: wittiAppTripAreaRegister
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tripId:
                  type: string
                tripImg:
                  type: string
                tripImgExt:
                  type: string
      responses:
        "200":
          description: 여행 기록 등록 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/trip/area/delete:
    post:
      tags:
        - 위티App
      summary: 열기구 여행 기록 삭제
      operationId: wittiAppTripAreaDelete
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tripSeq:
                  type: string
      responses:
        "200":
          description: 여행 기록 삭제 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/trip/area/quizReward:
    get:
      tags:
        - 위티App
      summary: 열기구 여행 퀴즈 보상 이력 조회
      operationId: wittiAppTripQuizRewardGet
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: areaCd
          in: query
          required: true
          description: "지역코드 (0~9)"
          schema:
            type: integer
            minimum: 0
            maximum: 9
      responses:
        "200":
          description: 퀴즈 보상 이력 조회 성공
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - 위티App
      summary: 열기구 여행 퀴즈 보상 지급
      operationId: wittiAppTripQuizRewardRegister
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                areaCd:
                  type: integer
                  example: 3
                successCount:
                  type: integer
                  example: 4
                failCount:
                  type: integer
                  example: 1
      responses:
        "200":
          description: 퀴즈 보상 지급 성공
          content:
            application/json:
              schema:
                type: object

  /witti-app/trip/area/quizReward/delete:
    post:
      tags:
        - 위티App
      summary: 열기구 여행 퀴즈 보상 지급 초기화
      operationId: wittiAppTripQuizRewardDelete
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                areaCd:
                  type: integer
                  example: 3
                rwrdIssDtm:
                  type: string
                  example: "2025-12-19"
      responses:
        "200":
          description: 퀴즈 보상 초기화 성공
          content:
            application/json:
              schema:
                type: object

  # ============================================================
  # 공통
  # ============================================================
  /contents/random:
    get:
      tags:
        - 공통
      summary: 콘텐츠 랜덤 추천
      operationId: contentsRandom
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      parameters:
        - name: randomTp
          in: query
          required: true
          description: "랜덤 타입"
          schema:
            type: string
            enum: [MSC, CAMP]
          x-enum-descriptions:
            - "뮤직박스"
            - "오늘의 이야기"
      responses:
        "200":
          description: 콘텐츠 랜덤 추천 조회 성공
          content:
            application/json:
              schema:
                type: object

  # ============================================================
  # 학습 이력 등록
  # ============================================================
  /ias/school:
    post:
      tags:
        - 학습 이력 등록
      summary: "위티스쿨 > 아람"
      description: |
        아람 학습 이력을 등록합니다.
        - 일반 학습 이력: 기본 필드만 전송
        - 포트폴리오 학습 이력: portfolio 배열을 추가로 포함하여 전송 (예: itemCd=AR0000011)
      operationId: iasSchool
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodId
                - itemCd
                - curtniSeq
                - stdLtm
                - stdScore
                - stdTp
              properties:
                prodId:
                  type: string
                  example: "PI-00000000000000001"
                itemCd:
                  type: string
                  example: "AR0000007"
                curtniSeq:
                  type: integer
                  example: 1926
                stdLtm:
                  type: number
                  example: 50
                stdScore:
                  type: integer
                  example: 0
                stdTp:
                  type: string
                  example: "STD"
                portfolio:
                  type: array
                  description: "포트폴리오 학습 이력 시 포함 (예: itemCd=AR0000011)"
                  items:
                    type: object
                    properties:
                      fileId:
                        type: string
                        example: "FS-250717P8751717989"
                      fileTp:
                        type: string
                        example: "image"
                      audioUrl:
                        type: string
                        nullable: true
                      imgUrl:
                        type: string
                        nullable: true
                      idx:
                        type: integer
                        example: 1
      responses:
        "200":
          description: 아람 학습 이력 등록 성공
          content:
            application/json:
              schema:
                type: object

  /ias/school/ebook:
    post:
      tags:
        - 학습 이력 등록
      summary: "위티스쿨 > 도서관"
      operationId: iasSchoolEbook
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contsId:
                  type: string
                  example: "CB-240730D5743755435"
                stdLtm:
                  type: integer
                  example: 1
                contsLtm:
                  type: integer
                  example: 1
                stdTp:
                  type: string
                  example: "STD"
                latestPage:
                  type: integer
                  example: 20
      responses:
        "200":
          description: 도서관 학습 이력 등록 성공
          content:
            application/json:
              schema:
                type: object

  /ias/school/playground:
    post:
      tags:
        - 학습 이력 등록
      summary: "위티스쿨 > 상상놀이터 (MEW)"
      operationId: iasSchoolPlayground
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contsId:
                  type: string
                  example: "000311"
                stdLtm:
                  type: integer
                  example: 1
                contsLtm:
                  type: integer
                  example: 1
                stdTp:
                  type: string
                  example: "STD"
      responses:
        "200":
          description: 상상놀이터 학습 이력 등록 성공
          content:
            application/json:
              schema:
                type: object

  /ias/tv:
    post:
      tags:
        - 학습 이력 등록
      summary: 위티TV
      operationId: iasTv
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contsId:
                  type: string
                  example: "CB-240625P6394095049"
                stdLtm:
                  type: integer
                  example: 1
                contsLtm:
                  type: integer
                  example: 1
                stdTp:
                  type: string
                  example: "STD"
      responses:
        "200":
          description: 위티TV 학습 이력 등록 성공
          content:
            application/json:
              schema:
                type: object

  /ias/camp:
    post:
      tags:
        - 학습 이력 등록
      summary: "오늘의이야기 (미사용?)"
      operationId: iasCamp
      security:
        - XDeviceInfo: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contsId:
                  type: string
                  example: "CB-2402161426P0033"
                stdLtm:
                  type: integer
                  example: 1
                contsLtm:
                  type: integer
                  example: 1
                stdTp:
                  type: string
                  example: "STD"
      responses:
        "200":
          description: 오늘의이야기 학습 이력 등록 성공
          content:
            application/json:
              schema:
                type: object

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "authToken (로그인 응답에서 발급)"
    XDeviceInfo:
      type: apiKey
      in: header
      name: X-device-info
      description: "디바이스 정보 헤더 (Base64 인코딩된 JSON)"
